#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/roxterm
Name=RoxTerm
Comment=Terminal 
Icon=/usr/share/doc/roxterm/lib/roxterm_logo.png
